<ModConfiguration>
  <Id>ReikaKalseki.IntegratedFactory</Id>
  <Name>IntegratedFactory</Name>
  <Version>1</Version>
  <IsLocalMod>false</IsLocalMod>
  <IsServerOnlyMod>false</IsServerOnlyMod>
  <Description>
	Better integrates the base game and frozen factory, primarily by A) making T1-3 materials still used in FF (not just endless T4 bars) and B) making some T4 production lines that mimic those of T1-3.
  </Description>
</ModConfiguration>